<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Freelancer.Auth</title>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gentelella/1.3.0/css/custom.min.css" />
    @RenderSection("head", required: false)
</head>
<body class="login">
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <div>
                        Account Name: @User.Identity.Name
                        
                        <a href="/home/logout">Log out</a>
                    </div>
                    @RenderBody()
                </section>
                <div style="text-align: center;">
                    <h1><i class="fa fa-html5"></i> Freelancer Site!</h1>
                    <p>©@DateTime.Now.Year All Rights Reserved. Freelancer Site</p>
                </div>
            </div>

        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

