@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}
<section>
    <h4>Click social buttons to sign in.</h4>
    <hr />
    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
        <div>
            <p>
                <button type="submit" class="btn btn-block btn-social btn-facebook btn-lg" 
                        value="Facebook" name="provider">
                    <span class="fa fa-facebook"></span>
                    Sign in with Facebook
                </button>
                <br />
                <button type="submit" class="btn btn-block btn-social btn-google btn-lg"
                        value="Google" name="provider">
                    <span class="fa fa-google"></span>
                    Sign in with Google
                </button>
            </p>
        </div>
    </form>
    </section>
<div class="separator">
    <p class="change_link">
        Already a member?
        <a asp-action="Register" class="to_register"> Register </a>
    </p>
</div>


@section head{
    <link href="http://lipis.github.io/bootstrap-social/bootstrap-social.css" rel="stylesheet" />
}
