@model RegisterClientViewModel
@{
    ViewData["Title"] = "Register";
}

<form id="registerForm" asp-controller="Account"  asp-action="RegisterClient" method="post">
    <p>
         <input type="radio" class="flat" name="userType"   onclick="window.location='/account/registerfreelancer';" /> I am a freeLancer
         <input type="radio" class="flat" name="userType"  checked disabled/> I am a client
    </p>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <input asp-for="Email" class="form-control" disabled />
    </div>
    <div>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div>
        <input asp-for="ClientName" class="form-control" placeholder="Client Name" />
    </div>

    <div>
        <button type="submit" class="btn btn-default submit">
            Submit
        </button>
    </div>

    <div class="clearfix"></div>

    <div class="separator">
        <p class="change_link">
            You've successfully authenticated with <strong>@ViewData["LoginProvider"]</strong>.
            Please enter an email address for this site below and click the Register button to finish
            logging in.
        </p>
    </div>
</form>


